extends layout

block content
    #container
        nav
            #breadcrumb
                a(href='/') HOME
                span >
                p ALL MOVIES
            #title
                h1=title
        #main
            #izquierda
                form(method="post" action="/movies/filtered")
                    label.movieslbl Genres: 
                    select(name="generos" id="generos")
                        for genero in genre
                            option(value=genero) #{genero}
                    label.movieslbl Rate: 
                    select(name="rates" id="rates")
                        for rates in rate
                            option(value=rates) #{rates}
                    input#filtrar(type='submit' value='Filter')
            #derecha
                for pelicula in movies
                    figure.moviefig
                        img(src="../images/"+pelicula.poster)
                        figcaption.movietitle= pelicula.movietitle
                        a.fakebtn(href='/movies/m/'+pelicula.id) View More
        #pagination
            #pages
                - var p = 1
                    while p <= totalPages
                        a.page-link.fakebtn(href='/movies/'+p)
                            span=p++