extends layout

block content
    nav
        #breadcrumb
            a(href='/') HOME
            span >
            a(href='/movies/1') ALL MOVIES
            span >
            p=movie.movietitle
        #title
            h1=title
    #detailsCont
        #detailsMain
            div#detailsDiv
                figure
                    img(src="/images/"+movie.poster)
            div#detailsinfo
                h2=movie.movietitle
                p#director Director: #{movie.director}
                p#release Release year: #{movie.release}
                p#synopsis= movie.synopsis